* {
  box-sizing: border-box;
}

body {
  background-image: url(./public/imgs/background.gif);
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator-wrapper {
  display: grid;
  max-width: fit-content;
  border: 2px solid;
  border-color: #fff;
  /* fallback */
  border-image: linear-gradient(-45deg, #3498db, #e67e22) 1;
  border-radius: 4px;
  padding: 10px;
  font-size: 24px;
  margin: 0 auto;
  vertical-align: middle;
  background: #404040;
}

.operations {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: right;
  max-height: 200px;
  overflow: scroll;
  margin-right: 5px;
  padding-right: 15px;

}

.calculator__input {
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
  height: 36px;
  color: #fff;
  background: #404040;
}

.input-field input[type=text]:focus+label {
  color: #000;
}

@media screen and (max-width: 430px) {
  .calculator {
    align-items: normal;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}