* {
  box-sizing: border-box;
}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-wrapper {
  display: grid;
  max-width: fit-content;
  border: 2px solid;
  border-color: #fff;
  /* fallback */
  border-image: linear-gradient(-45deg, #3498db, #e67e22) 1;
  border-radius: 4px;
  padding: 10px;
  font-size: 24px;
  margin: 0 auto;
  vertical-align: middle;
  background: #404040;
}

.calculator__input {
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
  height: 36px;
  color: #fff;
}

.input-field input[type=text]:focus+label {
  color: #000;
}

/* .calculator-numbers {
  display: grid;
  grid-template-rows: 36px 36px 36px 36px;
  grid-template-columns: 48px 48px 48px;
  gap: 6px;
} */
/* 
.calculator-numbers__item:last-child {
  grid-column-start: 2;
} */